<h2>Welcome to the Simple CMS</h2>

<p>This is my first Ruby on Rails application!</p>


<a href="/courses">View All Courses</a>
<br \>
<a href="/students">View All Students</a>
<br \>
<a href="/enrolls">View All Enrollments</a>
